#container{
    border:1px solid black;
    height: 950px;
    width: 672px;
    margin: auto;
}

.gauche{
    float:left;
    text-align: left;
    margin-top: 280px;
    width: 35%;
}

.mou{
    float:right;
    text-align: left;
    margin-top: 20px;
    width: 65%;
}
.inff{
    margin-top: 200px;
    font-size: 20px;
}

.inff h5 {
    font-weight: normal;
}
hr{
    background-color:black;
    margin-top: -1px;
    margin-bottom: 5px;
    line-height:0px;
}
h1,h2,h3,h4,h5,h6,hr,div{
    margin-bottom: -10px;
    text-align: center;
}

img{
    margin-left:60px;
}

#container>.part1>.gauche>hr{
    width: 40px;
}
.droit{
    padding-left: 1px;
    margin-top: 10px;
}

#container>.part1>.droit>h5{
    margin-left: 50px;
}
#container>.part2>.timbres{
    margin: auto;
    width: 652px;
}

#separateur{
    margin-top: 150px;
    margin-bottom: 1px;
}
#container>.part2{
    line-height: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 12px;

}

#container>.part2>h4{
    font-size:22px;
    text-align: center;
}

.non{
     text-align: left;
 }

.oui{
     overflow:initial;
     text-align: right;
     margin-right: 30px;
     line-height: 10px;
 }

 #container>.part1>.gauche>hr {
    margin-top: -2px;
 }

#container>.part2>.timbres>h3 {
    font-weight: normal;
    text-align: center;
    vertical-align:middle;
    height: 90px;
    width: 190px;
    float: left;
    border: 1px solid black;
    margin-left: 20%;
}