<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extrait N°{{ extraits.num_extrait }}</title>
    <style>
        #container {
            width: 900px;
            margin: auto;

        }
        #content1 {
            padding: 0px;
        }
        #header {
            float: left;
            width: 300px;
        }
        #header p:after {
            border-bottom:1px solid;
            display: block;
            margin:0 auto;
            content: " ";
            width:50px;
            width:50px;
            left:-50px;
        }
        #main {
            float: right;
            width: 580px;
        }
        #content2 {
            clear: both;
        }
        #content2 .article {
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body class="wrapper">
    <div id="container">
        <div id="content1">
            <div id="header" style="text-align: center; display: inline-block; margin: 0px">
                <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                <p><span> COMMUNE DE {{ extraits.commune }}</span></p>
                <p style="font-weight: bold;"><span> MAIRIE DE {{ extraits.commune }}</span></p>
                <img src="E:\Projet Python\sygec\agec\static\img\amoirie.png" alt="" width="150" height="150">
                <h2 style="text-align: center">ETAT CIVIL <br />CENTRE</h2>
                <p><span> de {{ extraits.commune }}</span></p>
                <p>N° {{ extraits.num_extrait }} <span class="text-danger text-muted"> du Registre </span></p>
                <h3 style="font-size: 16px; letter-spacing: 3px">
                    NAISSANCE DE
                </h3>
                <p>
                    {{ extraits.nom }} <br/>
                    {{ extraits.prenoms }}
                </p>
            </div>
            <div id="main" style="margin-top: 50px;">
                <section>
                    <article>
                        <h1 style="text-align: center; font-size: 22px; margin-bottom: 50px; letter-spacing: 8px;">EXTRAIT<br>
                            <span style="font-weight: normal; letter-spacing: 1px;">
                                du Registre des actes de l'Etat Civil<br>
                                 pour l'année {{ extraits.annee }}
                            </span>
                        </h1>

                        <asset style="letter-spacing: 3px; margin-top: 50px;">
                            <p>le <span>{{ extraits.date_naiss }} à {{ extraits.heure_naiss }}</span></p>
                            <p>est né(e) <span> {{ extraits.nom }} {{ extraits.prenoms }}</span></p>
                            <p>à <span>{{ extraits.hopital }}</span></p>
                            <p> Fils(le) de <span>{{ extraits.pere }} - {{ extraits.profession_pere }}</span></p>
                            <p>Nationalité  {{ extraits.nationalite_pere}}</p>
                            <p> et de <span>{{ extraits.mere }} - {{ extraits.profession_mere }}</span></p>
                            <p>Nationalité {{ extraits.nationalite_mere}}</p>
                        </asset>
                    </article>
                </section>
            </div>
        </div>
        <div id="content2">
            <section style="margin-top: 100px">
                <h3 style="text-align: center">MENTIONS (éventuellement)</h3>
                <p>Mari(é) le {{ extraits.mariage }}..............................................................................................................
                    à {{ extraits.lieu_mariage }}..........................................</p>
                <p>Avec {{ extraits.conjoint }}....................................
                    ...............................................................................................................................................................</p>
                <p>Mariage dissous par décision de divorce en date du {{ extraits.divorce }}............................................................................................................................</p>
                <p>...................................................................................................................................................................................................................</p>
                <p>Décédé le {{ extraits.deces }} ..............................................................................................................à {{ extraits.lieu_deces }}...................................................</p>
                <p>Certifié le présent extrait conforme aux indications portées au registre.</p>
            </section>
            <div style="text-align: right; display: inline-block">
                <p>Délivré à {{extraits.commune}}, le <span>{% now  ''%}</span></p>
                <p>L'Officier de l'ETAT Civil</p>
                <p>L'Agent de l'ETAT Civil</p>
                <p>(Signature)</p>
            </div>
        </div>


    </div>
</body>
</html>