<!DOCTYPE html>
{% load staticfiles %}
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--[if lte IE 7]>
        <link rel="stylesheet" href="style_ie.css" />
    <![endif]-->
    <title>Etat Civil - {{ extraits.num_extrait }}</title>
    <!--<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

</head>
<body>
    <div class="container">

        <div class="text_left">
            <div style="float: left; font-size: 12px; text-align: center">
                <header>
                    <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                    <p><span> COMMUNE DE {{ extraits.commune }}</span></p>
                    <p><span> MAIRIE DE {{ extraits.commune }}</span></p>
                </header>
                <hr/>
                <p style="text-align: center"><img src="E:\Projet Python\sygec\agec\static\img\amoirie.png" alt="" class="img-responsive" width="100" height="100"></p>
                <h2>ETAT CIVIL <br />CENTRE</h2>
                <p><span> de {{ extraits.commune }}</span></p>
                <p>N°{{ extraits.num_extrait }} <span class="text-danger text-muted"> du Registre </span></p>
                <p class="text-center"><hr/></p>

                <p>
                    NAISSANCE DE
                </p>
                <p class="">
                    {{ extraits.nom }} <br/>
                    {{ extraits.prenoms }}
                </p>
            </div>
            <div style="display: inline-block;">
                <section>
                    <article>
                        <h2 style="font-size: 14px"><strong>Extrait</strong><br>
                            du Registre des actes de <br>
                            l'Etat Civil pour l'année {{ extraits.annee }}
                        </h2>
                        <p>le <span>{{ extraits.date_naiss }} à {{ extraits.heure_naiss }}</span></p>
                        <p>est né(e) <span>{{ extraits.nom }} {{ extraits.prenoms }}</span></p>
                        <p>à <span>{{ extraits.hopital }}</span></p>
                        <p> Fils(le) de <span>{{ extraits.pere }} - {{ extraits.profession_pere }}</span></p>
                        <p>Nationalité  {{ extraits.nationalite_pere}}</p>
                        <p> et de <span>{{ extraits.mere }} - {{ extraits.profession_mere }}</span></p>
                        <p>Nationalité {{ extraits.nationalite_mere}}</p>
                    </article>
                </section>
            </div>
        </div>

        <div class="col-md-12" style="font-size: 14px">
            <hr>
            <hr/>
            <h3 class="text-center">MENTIONS (éventuellement)</h3>
            <p>Mari(é) le {{ extraits.mariage }}..............................................................................................................
                à {{ extraits.lieu_mariage }}..........................................</p>
            <p>Avec {{ extraits.conjoint }}....................................
                ...............................................................................................................................................................</p>
            <p>Mariage dissous par décision de divorce en date du {{ extraits.divorce }}............................................................................................................................</p>
            <p>...................................................................................................................................................................................................................</p>
            <p>Décédé le {{ extraits.deces }} ..............................................................................................................à {{ extraits.lieu_deces }}...................................................</p>
            <p>Certifié le présent extrait conforme aux indications portées au registre.</p>
            <clearfix></clearfix>
            <clearfix></clearfix>
            <br>
            <p class="text-right">Délivré à {{extraits.commune}}, le <span>{% now  ''%}</span></p>
            <br>
            <div class="text-right">
                <p>L'Officier de l'ETAT Civil</p>
                <p>L'Agent de l'ETAT Civil</p>
                <p>(Signature)</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-left">Timbre</p>
                    </div>

                    <div class="col-md-6">
                        <p class="text-right">Signature et Caché de l'autorité</p>
                    </div>
                </div>
            </div>
        </div>


</div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>
