<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="E:\Projet Python\sygec\agec\static\assets\css\style.css" />
    <title>Extrait N°{{ extraits.num_extrait }}</title>
</head>
<body>
<div class="container">
    <div id="partie1">
        <div class="mou">
	    	<div class="droit">
	            <div class="inff">
	                <h5> {{ extraits.date_naiss }} à {{ extraits.heure_naiss }}</h5>
	                <h5 style="margin-top: 80px"> {{ extraits.nom }} {{ extraits.prenoms }} </h5>
                    <h5> {{ extraits.hopital }}  </h5>
	                <h5> {{ extraits.pere }} - {{ extraits.profession_pere }}</h5>
                    <h5>  {{ extraits.nationalite_pere }}</h5>
	                <h5> {{ extraits.mere }} - {{ extraits.profession_mere }}</h5>
                    <h5>  {{ extraits.nationalite_mere }}</h5>
		        </div>
			</div>
		</div>
        <!-------------------------------------------->
        <div class="mou2">
            <div class="gauche">
                <!--<h5 style="font-weight: normal;">REPUBLIQUE DE COTE D'IVOIRE</h5>-->
                <!--<hr width="60px" style="margin-bottom: 15px">-->
                <!--<h5 style="margin-top: -1px; letter-spacing: 2px">COMMUNE DE {{ extraits.commune }}</h5>-->
                <!--<hr width="60px" style="margin-bottom: 15px">-->
                <!--<h4 style="margin-top: -1px; letter-spacing: 2px">MAIRIE DE {{ extraits.commune }}</h4>-->
                <!--<hr width="60px" style="margin-bottom: 15px">-->
                <!--<img style="text-align: center; margin-top: -1px; margin-left: 5px; " src="E:\Projet Python\sygec\agec\static\img\amoirie.png" height="150px" width="150px">-->
                <!--<h4>ETAT CIVIL <br> CENTRE</h4>-->
                <h5 class="non" style="font-size: 20px; font-weight: normal; margin-left: 50px"> e <span>{{ extraits.commune }}</span></h5>
                <h5 class="non" style="font-size: 20px; font-weight: normal; margin-left: 50px"> {{ extraits.num_extrait }} </h5>

                <h6 style="font-size: 20px; margin-top: 90px">
                    {{ extraits.nom }}<br>
                    {{ extraits.prenoms }}<br>
                </h6>
                    <!--<br>...................................................<br>...................................................-->
                    <!--<br>...................................................<br>...................................................</h6>-->
            </div>
        </div>
    </div>
    <!--<hr id="separateur">-->
	<!--<hr style="margin-top: 1px;">-->

    <!--<div class="partie2">-->
        <!--<h3>MENTIONS (éventuellement)</h3>-->
        <!--Marié (e) le.....................................................................................................à...............................................................................-->
        <!--<br>avec.................................................................................................................................................................-->
        <!--<br>Mariage dissous par décision de divorce en date du..............................................................................................................................................................................................-->
        <!--<br>.............................................................................................................................................................................................................-->
        <!--<br>décédé le..................................................................................................à...............................................................................-->
        <!--<br>Certifié le présent extrait conforme aux normes incations portées au registre.-->

        <!--<div class="oui">-->
        	<!--<p>Délivré à SEGUELA, le <span style="letter-spacing: 1px">{% now  ''%}</span></p>-->
        	<!--<p>L'Officier de L'Etat Civil</p>-->
        	<!--<p>L'Agent de L'Etat Civil </p>-->
        	<!--<p style="margin-right:5%; ">(Signature)</p>-->
        <!--</div>-->
        <!--<div class="timbres">-->
        	<!--<h3>Timbre Fiscale</h3>-->
        	<!--<h4 style="float: right; margin-right:35%;">Sceau</h4>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>