<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extrait - {{extraits.num_extrait }}</title>
</head>
<body>
    <div id="content-main">
        <header>
            <div id="nav">
                <nav id="info_mairie">
                    <p>de la MAIRIE DE {{ extraits.commune }}</p>
                    <p>centre de {{ extraits.commune }}</p>
                    <img src="127.0.0.1:8000/agec/static/img/amoirie.png" alt="" width="100" height="100">
                    <p>N°{{ extraits.num_extrait }} du registre</p>
                    <p class="text-center"><hr/></p>
                    <p>
                        NAISSANCE de
                    </p>
                    <p>
                        {{ extraits.nom }} <br/>
                        {{ extraits.prenoms}}
                    </p>
                </nav>

                <div id="registre">
                    <h2 style="font-size: 14px"><strong>Extrait</strong><br>
                        du Registre des actes de l'Etat Civil<br>
                        pour l'année {{ extraits.annee }}
                    </h2>

                    <section>
                        <aside>
                            <p>
                                le {{ extraits.date_naiss }} à {{ extraits.heure_naiss }} est né(e) - {{ extrait.nom }} {{ extraits.prenoms }}
                            </p>
                            <p>
                                à {{ extraits.hopital }}
                            </p>
                            <p>
                                Fils(le) de {{ extaits.pere }}
                            </p>
                            <p>
                                Nationalité {{ extraits.nationalite_pere }}
                            </p>

                            <p>
                                et de {{ extraits.mere }}
                            </p>
                            <p>
                                Nationalité {{ extraits.nationalite_mere }}
                            </p>
                        </aside>
                    </section>
                </div>
            </div>
        </header>
        <hr/>
        <section>
            <article>
                <h1>Mentions Eventuelles</h1>
                <p>
                    Marié(e) le ....................................... à ......................
                </p>
                <p>
                    Mariage Dissous Par Decision de Divorce en Date du .........................
                </p>
                <p>
                    Décédé le ................................... à ............................
                </p>
                <p>
                    Certifié le présent extrait conforme aux indications portées au registre
                </p>
            </article>
        </section>

        <footer>
            <p>
                Délivré à <span>Séguéla</span>, le <span>{ Date de Retrait }</span>
            </p>
            <p>
                Timbre
            </p>
            <p>
               Signature et Caché de l'autorité
            </p>
        </footer>
    </div>

</body>
</html>